html, body{
    margin: 0px;
    padding: 0px;
    overflow: hidden !important;
}
#logo{
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(-5%,-5%);
  z-index: 1;
  height: 120px;
  width: 130px;
}
.corousel-cell{
    width: 100%;
    height: 100vh;
}



.bg_wrap{
    background-image: url('assets/img/hero.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;

}
